@font-face {
    font-family: 'Loki-ColaRUS';
    src: url('Loki-ColaRUS.woff2') format('woff2'),
        url('Loki-ColaRUS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

